<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.okair.db.mapper.AssetsCarMapper">
	<resultMap type="com.iss.okair.db.entity.AssetsCar" id="BaseResultMap">
	<id column="id" jdbcType="VARCHAR" property="id" />
    <result column="assetsCode" jdbcType="VARCHAR" property="assetscode" />
    <result column="assetsType" jdbcType="INTEGER" property="assetstype" />
    <result column="nameCn" jdbcType="VARCHAR" property="namecn" />
    <result column="engineInfo" jdbcType="VARCHAR" property="engineinfo" />
    <result column="carBrand" jdbcType="VARCHAR" property="carbrand" />
    <result column="carModel" jdbcType="VARCHAR" property="carmodel" />
    <result column="powerType" jdbcType="VARCHAR" property="powertype" />
    <result column="sitCount" jdbcType="INTEGER" property="sitcount" />
    <result column="autoTrans" jdbcType="TINYINT" property="autotrans" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
	</resultMap>
	<sql id="Base_Column_List">
		 id, assetsCode, assetsType, nameCn, engineInfo, carBrand, carModel, powerType, sitCount, 
      autoTrans, createDate, createUser, comment
	</sql>
<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assets_car
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="countAll" resultType="java.lang.Integer">
    select count(1) from assets_car
  </select>
  <select id="selectByExample" parameterType="com.iss.okair.model.AssetsCarModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assets_car
    <where>
    	<choose>
    		<when test="(assetsType2 == null or assetsType2 == '-1') and assetsType1 != '-1' and assetsType1 != null">
    			and assetsType in (select id from category where parentId = #{assetsType1, jdbcType=VARCHAR} ) 
    		</when>
    		<when test="assetsType2 != null and assetsType2 != '-1'">
    			and assetsType = #{assetsType2, jdbcType=VARCHAR}
    		</when>
    	</choose>
    	<if test="assetsNameCn !=null and assetsNameCn != ''">
    		<bind name="nameCn" value="'%' + assetsNameCn + '%'" />
    		and nameCn like '${nameCn}'
    	</if>
    	<if test="assetsCode !=null and assetsCode != ''">
    		<bind name="assetsCode" value="'%' + assetsCode + '%'" />
    		and assetsCode like '${assetsCode}'
    	</if>
    	<if test="brandModel !=null and brandModel != ''">
    		<bind name="brandModel" value="'%' + brandModel + '%'" />
    		and (carBrand like '${brandModel}' or carModel like '${brandModel}')
    	</if>
    	<if test="powerType != null and powerType != '-1'">
    		and powerType = #{powerType, jdbcType=VARCHAR}
    	</if>
    	<if test="autoTrans != null">
    		and autoTrans = #{autoTrans, jdbcType=BOOLEAN}
    	</if>
    </where>
  </select>
  
  <insert id="insertSelective" parameterType="com.iss.okair.db.entity.AssetsCar">
    insert into assets_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assetscode != null">
        assetsCode,
      </if>
      <if test="assetstype != null">
        assetsType,
      </if>
      <if test="namecn != null">
        nameCn,
      </if>
      <if test="engineinfo != null">
        engineInfo,
      </if>
      <if test="carbrand != null">
        carBrand,
      </if>
      <if test="carmodel != null">
        carModel,
      </if>
      <if test="powertype != null">
        powerType,
      </if>
      <if test="sitcount != null">
        sitCount,
      </if>
      <if test="autotrans != null">
        autoTrans,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="assetscode != null">
        #{assetscode,jdbcType=VARCHAR},
      </if>
      <if test="assetstype != null">
        #{assetstype,jdbcType=INTEGER},
      </if>
      <if test="namecn != null">
        #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="engineinfo != null">
        #{engineinfo,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null">
        #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="carmodel != null">
        #{carmodel,jdbcType=VARCHAR},
      </if>
      <if test="powertype != null">
        #{powertype,jdbcType=VARCHAR},
      </if>
      <if test="sitcount != null">
        #{sitcount,jdbcType=INTEGER},
      </if>
      <if test="autotrans != null">
        #{autotrans,jdbcType=TINYINT},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iss.okair.db.entity.AssetsCar">
    update assets_car
    <set>
      <if test="assetscode != null">
        assetsCode = #{assetscode,jdbcType=VARCHAR},
      </if>
      <if test="assetstype != null">
        assetsType = #{assetstype,jdbcType=INTEGER},
      </if>
      <if test="namecn != null">
        nameCn = #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="engineinfo != null">
        engineInfo = #{engineinfo,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null">
        carBrand = #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="carmodel != null">
        carModel = #{carmodel,jdbcType=VARCHAR},
      </if>
      <if test="powertype != null">
        powerType = #{powertype,jdbcType=VARCHAR},
      </if>
      <if test="sitcount != null">
        sitCount = #{sitcount,jdbcType=INTEGER},
      </if>
      <if test="autotrans != null">
        autoTrans = #{autotrans,jdbcType=TINYINT},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>