<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.okair.db.mapper.CateGoryParentMapper">
<resultMap type="com.iss.okair.db.entity.CateGoryParent" id="BaseResultMap">
<result column="nameCn" property="nameCn" jdbcType="VARCHAR"/>
<result column="parentId" property="parentId" jdbcType="VARCHAR"/>
</resultMap>
<select id="selectAll" resultMap="BaseResultMap">
select * 
from categoryparent
</select>
</mapper>