<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.okair.db.mapper.SysDictValueMapper">
<resultMap type="com.iss.okair.db.entity.SysDictValue" id="BaseResultMap">
<id column="id" property="id" jdbcType="INTEGER"></id>
<result column="typeCode" property="typeCode" jdbcType="VARCHAR"/>
<result column="value" property="value" jdbcType="VARCHAR"/>
<result column="display" property="display" jdbcType="VARCHAR"/>
<result column="desc" property="desc" jdbcType="VARCHAR"/>

</resultMap>
<sql id="Base_column_list">
id,typeCode,value,display,`desc`
</sql>
<select id="selectByExample" parameterType="com.iss.okair.db.entity.SysDictValue" resultMap="BaseResultMap">
select
<include refid="Base_column_list"></include>
from sysdictvalue
<where>
	<if test="display != null and display != ''">
	<bind name="display" value="'%'+display+'%'"/>
	and display like '${display}'
	</if>
	<if test="typeCode != null and typeCode != '-1'">
	and typeCode = #{typeCode,jdbcType=VARCHAR}
	</if>
</where>
</select>
<select id="getTypeCode" parameterType="String"  resultMap="BaseResultMap">
select
<include refid="Base_column_list"></include>
from sysdictvalue
<where>
	<if test="_parameter!= null and _parameter != ''">
	
	 typeCode = #{typeCode,jdbcType=VARCHAR}
	</if>
</where>


</select>
</mapper>